@using Applications.Extensions;
@using Microsoft.AspNetCore.Identity
@{
    bool isAdmin = User.IsInRole("Admin");
    bool isSuperAdmin = User.IsInRole("SuperAdmin");
    bool isBranchAdmin = User.IsInRole("BranchAdmin");
    bool isManager = User.IsInRole("Manager");
    bool isTeacher = User.IsInRole("Teacher");
    bool isStudent = User.IsInRole("Student");
    string roleName = User.GetLoggedInUserRole().ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AKKHOR | Home </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.png">
    <link rel="stylesheet" href="~/Assets/css/normalize.css">
    <link rel="stylesheet" href="~/Assets/css/main.css">
    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/all.min.css">
    <link rel="stylesheet" href="~/Assets/fonts/flaticon.css">
    <link rel="stylesheet" href="~/Assets/css/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Assets/style.css">
    <link rel="stylesheet" href="~/Assets/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/Assets/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/PDFViewer/pdfviewer.jquery.css">
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Assets/js/modernizr-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="preloader"></div>
    <div id="wrapper" class="wrapper bg-ash">
        <div class="navbar navbar-expand-md header-menu-one bg-light">
            <div class="nav-bar-header-one">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="~/Assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <div class="toggle-button sidebar-toggle">
                    <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="d-md-none mobile-nav-bar">
                <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse" data-target="#mobile-navbar" aria-expanded="false">
                    <i class="far fa-arrow-alt-circle-down"></i>
                </button>
                <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
                <ul class="navbar-nav">
                    <li class="navbar-item header-search-bar">
                        <div class="input-group stylish-input-group">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <span class="flaticon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Find Something . . .">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="navbar-item dropdown header-message">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <i class="far fa-envelope"></i>
                            <div class="item-title d-md-none text-16 mg-l-10">Message</div>
                            <span>5</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">05 Message</h6>
                            </div>
                            <div class="item-content">
                                <div class="media">
                                    <div class="item-img bg-skyblue author-online">
                                        <img src="~/Assets/img/figure/student11.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Maria Zaman</span>
                                                <span class="item-time">18:30</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-yellow author-online">
                                        <img src="~/Assets/img/figure/student12.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Benny Roy</span>
                                                <span class="item-time">10:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-pink">
                                        <img src="~/Assets/img/figure/student13.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Steven</span>
                                                <span class="item-time">02:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-img bg-violet-blue">
                                        <img src="~/Assets/img/figure/student11.png" alt="img">
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="item-title">
                                            <a href="#">
                                                <span class="item-name">Joshep Joe</span>
                                                <span class="item-time">12:35</span>
                                            </a>
                                        </div>
                                        <p>
                                            What is the reason of buy this item.
                                            Is it usefull for me.....
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-item dropdown header-notification">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <i class="far fa-bell"></i>
                            <div class="item-title d-md-none text-16 mg-l-10">Notification</div>
                            <span>8</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">03 Notifiacations</h6>
                            </div>
                            <div class="item-content">
                                <div class="media">
                                    <div class="item-icon bg-skyblue">
                                        <i class="fas fa-check"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Complete Today Task</div>
                                        <span>1 Mins ago</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-orange">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Director Metting</div>
                                        <span>20 Mins ago</span>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="item-icon bg-violet-blue">
                                        <i class="fas fa-cogs"></i>
                                    </div>
                                    <div class="media-body space-sm">
                                        <div class="post-title">Update Password</div>
                                        <span>45 Mins ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="navbar-item dropdown header-admin">
                        <a class="navbar-nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           aria-expanded="false">
                            <div class="admin-title">
                                <h5 class="item-title">@User.Identity.Name</h5>
                                <span>@roleName</span>
                            </div>
                            <div class="admin-img">
                                <img src="~/Assets/img/figure/admin.jpg" alt="Admin">
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="item-header">
                                <h6 class="item-title">Steven Zone</h6>
                            </div>
                            <div class="item-content">
                                <ul class="settings-list">
                                    <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                                    <li><a href="#"><i class="flaticon-list"></i>Task</a></li>
                                    <li><a href="#"><i class="flaticon-chat-comment-oval-speech-bubble-with-text-lines"></i>Message</a></li>
                                    <li><a href="#"><i class="flaticon-gear-loading"></i>Account Settings</a></li>
                                    <li><a href="/Account/Logout"><i class="flaticon-turn-off"></i>Log Out</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dashboard-page-one">
            <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
                <div class="mobile-sidebar-header d-md-none">
                    <div class="header-logo">
                        <a href="index.html"><img src="~/Assets/img/logo1.png" alt="logo"></a>
                    </div>
                </div>
                <div class="sidebar-menu-content">
                    <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                        @if (isSuperAdmin)
                        {
                            @Html.Partial($"/Views/Menu/SuperAdmin.cshtml")
                        }
                        @if (isAdmin)
                        {
                            @Html.Partial($"/Views/Menu/Admin.cshtml")
                        }
                        @if(isBranchAdmin){
                            @Html.Partial($"/Views/Menu/BranchAdmin.cshtml")
                        }
                        @if (isManager)
                        {
                            @Html.Partial($"/Views/Menu/Manager.cshtml")
                        }
                        @if (isTeacher)
                        {
                            @Html.Partial($"/Views/Menu/Teacher.cshtml")
                        }
                    </ul>
                </div>
            </div>
            <div class="dashboard-content-one">
                <div>
                    @RenderBody()
                </div>
                <footer class="footer-wrap-layout1">
                    <div class="copyright">
                        © Copyrights <a href="#">akkhor</a> 2023. All rights reserved. Designed by <a href="#">PsdBosS</a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="~/Assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Assets/js/plugins.js"></script>
    <script src="~/Assets/js/popper.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/select2.min.js"></script>
    <script src="~/Assets/js/jquery.counterup.min.js"></script>
    <script src="~/Assets/js/moment.min.js"></script>
    <script src="~/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/js/fullcalendar.min.js"></script>
    <script src="~/Assets/js/Chart.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/assets/js/corelib.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/assets/js/site.js"></script>
    <script src="~/plugins/PDFViewer/pdf.min.js"></script>
   @*  <script src="~/plugins/PDFViewer/pdfviewer.jquery.js"></script> *@
    @RenderSection("Scripts",false)
</body>
</html>
